@charset "utf-8";

/*ICON*/
.sina15-icon{ display:inline-block; vertical-align:middle; overflow:hidden; background-image:url(http://n.sinaimg.cn/ent/wsy/icon150126.png); background-repeat:no-repeat;}
.sina15-icon-arrows-a{ width:8px; height:4px; background-position:0 0;}

.sina15-top-bar-wrap{ min-width:1000px; height:45px; border-top:1px solid #c7c7c7;border-bottom:1px solid #c7c7c7; background-color:#fbfbfb;  position:relative;overflow:visible;font-family:'Microsoft Yahei';z-index:90000;}
.sina15-top-bar-inner{ width:1000px; margin:0 auto; position:relative;overflow:visible;}
.sina15-nav-list{ height:45px; position:relative; z-index:2; float:left;}
.sina15-nav-list li{ float:left; height:45px;}
.sina15-nav{ overflow:visible;}
.sina15-nav a{ display:block; height:45px; line-height:45px; padding:0 16px; color:#000; font-size:14px; _display:inline-block;}
.sina15-nav-list-first a{ padding-left:0;}
.sina15-nav-list-last a{ border-left:1px solid #fbfbfb;border-right:1px solid #fbfbfb; _padding-top:15px;}
.sina15-nav-list-last .sina15-icon{ margin-left:10px;}
.sina15-nav a:link,
.sina15-nav a:visited{text-decoration:none;}
.sina15-nav a:hover{ color:#e96a0d;text-decoration:none;}
.sina15-nav a:active,
.sina15-nav a:focus{text-decoration:none;}
.sina15-nav .sina15-more:hover,.sina15-nav .cur{ height:46px;_height:45px; border-color:#c7c7c7; color:#e96a0d; background:#fff;box-shadow: 0 -1px 1px #c7c7c7;text-decoration:none;}
.sina15-nav .sina15-more:hover .sina15-icon-arrows-a,.sina15-nav .cur .sina15-icon-arrows-a{ background-position:0 -64px;}
.sina15-nav-others{ border:1px solid #c7c7c7; box-shadow:0 0 1px #c7c7c7; background:#fff; overflow:hidden; zoom:1; position:absolute; top:45px; left:262px; display:none;}
.sina15-nav-others li{ padding:0 4px; border-bottom:1px dashed #c7c7c7;text-align:left;}
.sina15-nav-others .sina15-nav-others-last{ border-bottom:0 none;}
.sina15-nav-others a{ display:inline-block;}

.sina15-ico-client{ display:inline-block; vertical-align:middle; overflow:hidden;width:25px;height:25px;background-image:url(http://n.sinaimg.cn/ent/wsy/dt_client.png);background-repeat:no-repeat;background-position:-999em -999em;}
.sina15-ico-weibo{background-position:0 0;}
.sina15-ico-news{background-position:0 -50px;}
.sina15-ico-sports{background-position:0 -100px;}
.sina15-ico-ent{background-position:0 -150px;}
.sina15-ico-finance{background-position:0 -200px;}
.sina15-ico-video{background-position:0 -250px;}
.sina15-ico-games{background-position:0 -300px;}
.sina15-ico-weather{background-position:0 -350px;}

.sina15-client{position:relative;float:right;width:128px; font-size:14px; overflow:visible;}
.sina15-client a{ color: #000;}
.sina15-client a:hover{ color:#e96a0d;}
.sina15-client-tl{position:relative;height:45px; overflow:hidden;}
.sina15-client-tl a{border-left:1px solid #fbfbfb;border-right:1px solid #fbfbfb; display:block; height:45px; line-height:45px; padding:0 19px; color:#000; font-size:14px; _padding-top:15px;text-decoration:none;}
.sina15-client .sina15-icon{ margin-left:10px;}
.sina15-client .sina15-more:hover,.sina15-client .cur{ height:46px;_height:45px; border-color:#c7c7c7; color:#e96a0d; background:#fff;box-shadow: 0 -1px 1px #c7c7c7;text-decoration:none;}
.sina15-client .sina15-more:hover .sina15-icon-arrows-a,.sina15-client .cur .sina15-icon-arrows-a{ background-position:0 -64px;text-decoration:none;}
.sina15-dropdown .sina15-ico-client{position:absolute;top:10px;left:18px;}
.sina15-dropdown{display:none;position:absolute;top:45px;left:0;width:126px;border-width:0 1px 1px;border-style:solid;border-color:#c7c7c7;box-shadow: 0 1px 1px #c7c7c7; background:#fff;}
.sina15-dropdown li{clear:both;border-width:1px 0 0;border-style:dotted; border-color:#c7c7c7;vertical-align:top;text-align:left;}
.sina15-dropdown a{position:relative;float:left;width:72px;height:45px;padding-left:54px;line-height:45px; word-break:break-all;overflow:hidden;font-size:14px;}
.sina15-dropdown a:link,
.sina15-dropdown a:visited{text-decoration:none;background-color:none;}
.sina15-dropdown a:hover,
.sina15-dropdown a:active,
.sina15-dropdown a:focus{ text-decoration:none; background-color:#fff6ed;}